* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --aqua: #7fdbff;
  --black: #111111;
  --blue: #0074d9;
  --fuchsia: #f012be;
  --gray: #aaaaaa;
  --green: #2ecc40;
  --lime: #01ff70;
  --maroon: #85144b;
  --navy: #001f3f;
  --olive: #3d9970;
  --orange: #ff851b;
  --purple: #b10dc9;
  --red: #ff4136;
  --silver: #dddddd;
  --teal: #39cccc;
  --white: #ffffff;
  --yellow: #ffdc00;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}
